<%# ツイート投稿ページ %>
<div id="global-container">
<%# ヘッダー %>
  <header class= "header">
    <div class="header-left">
      <%= link_to root_path, class:"char-list" do%>
      <%# <a class="char-list" href="#"> %>
        <span class="char">W</span><span class="char">e</span><span class="char">i</span><span class="char">g</span><span class="char">h</span><span class="char">t</span><span class="char">&nbsp;</span><span class="char">A</span><span class="char">p</span><span class="char">p</span>
      <%# </a> %>
      <% end %>
    </div>
    <%# ヘッダーライト %>
    <div class="header-right">
    <ul class = "menu-list">
      <%# ツイート投稿ページに遷移 %>
      <%= link_to new_tweet_path do %>
        <li class = "char1"><span class="char">T</span><span class="char">w</span><span class="char">e</span><span class="char">e</span><span class="char">t</span></li>
      <% end %>
      
      <%= link_to tweets_tweets_path do %>
        <li class = "char2 char"><span class="char">T</span><span class="char">w</span><span class="char">e</span><span class="char">e</span><span class="char">t</span><span class="char">s</span><span class="char">&nbsp;</span><span class="char">L</span><span class="char">i</span><span class="char">s</span><span class="char">t</span></li>
      <% end %>

      <%# ログアウト%>
      <%= link_to  destroy_user_session_path do %>
        <li><span class="char">S</span><span class="char">i</span><span class="char">g</span><span class="char">n</span><span class="char">&nbsp;</span><span class="char">o</span><span class="char">u</span><span class="char">t</span></li>
      <% end %>

      <li><a href="#"><span class="char">i</span><span class="char">t</span><span class="char">e</span><span class="char">m</span></a></li>
    </ul>
  </div>
  
  <%# ツイート投稿機能 %>
  <div id="container">
    <div class= "text-area area-text">
      <%= form_with model: @tweet, local: true, class: "text-all" do |f| %>
        <%= f.label :title, "Title", class: "text1" %><br />
        <%= f.text_field :title, class: "text3" %>
        
        <%= f.label "image", class:"img-field" %>
        <%= f.file_field :image, class: "tweet-image" %>

        <%= f.label :text, "Text", class: "text2" %><br />
        <%= f.text_area :text, class: "text4" %>
      
        <%= f.submit "Tweet", class: "text5"%>
      <% end %>
    </div>
  </div>
</div>
 









