<div class="mypage">
  <div class="left-mypage">
    <div class="left-my-hight">
      <div class="my-profile-img">
        <%= form_with model:@user do |f| %>
          <%= f.file_field :avatar %>
          <%= f.submit %>
        <% end %>
      </div>
      <div class="nickname-border">
        <p><%= @user.nickname %></p>
      </div>
    </div>
    <div class="left-my-low">
    <ul>
      <div class="li-border">
        <li class="profile-btn">Profile</li>
        <li class="calendar-btn">Calendar</li>
        <li class="graph-btn">Graph</li>
      </div>
    </ul>
    </div>
  </div>
  <div class="right-mypage">
    <section class="profile">
        <div class="right-my-hight">
          <div class="profile-header">
            <h2 class="profile-title">Profile</h2>
            <div>
            <%= link_to root_path do%>
              <span class="save-btn">Top</span>
            <% end %>

            <%= link_to user_path(@user) do %> 
              <span class="save-btn">Back</span>
            <% end %>

            </div>
          </div>
          <div class="profile-text">
            <%= form_with model:@user do |f| %>
              <%= f.text_area :profile, class:"profile-area", placeholder:"自己紹介欄" %>
              <%= f.number_field :height, placeholder:"現在の身長を入力", class:"height-area"%>cm
              <%= f.number_field :target_weight, step: "0.1",  placeholder:"目標体重を入力", class:"t-weight-area"%>kg
              <%= f.submit %>
            <% end %>
          </div>
        </div>    
        <div class="right-my-low">
          <div class="my-photo">
            <div class="my-photo-title">My Posts List</div>
            
          <ul class = "photo-li">
            <span class = "list-json"></span>
            <% @tweets.each do |tweet| %>
            <li class="photo-up">
              <div class="photo-img">
              <%=image_tag tweet.image, class: 'tweet-photos' %>
              </div>
              <%= link_to tweet_path(tweet.id) do %>
                <span><%= tweet.title%></span>
              <% end %>
            <% end %>
            </li> 
          </ul> 
          
        <%= paginate @tweets %>
          </div>
        </div>
    </section>
  </div>
</div>