<div class="mypage">
  <div class="left-mypage">
    <div class="left-my-hight">
      <div class="my-profile-img">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar %>
          <% else %>
          <img src="/assets/IMG_9232.JPG">
        <% end %>
        
      </div>
      <div class="nickname-border">
        <p><%= @user.nickname %></p>
      </div>
    </div>
    <div class="left-my-low">
    <ul>
      <div class="li-border">
      <%# プロフィール編集 %>
      <%= link_to edit_user_path  do%>
        <li class="profile-btn">Profile</li>
      <% end %>

        <li class="calendar-btn">Calendar</li>
      
      <%= link_to weights_path do %>
        <li class="graph-btn">Graph</li>
      <% end %>

      

      </div>
    </ul>
    </div>
  </div>
  <div class="right-mypage">
    <section class="profile">
        <div class="right-my-hight">
          <div class="profile-header">
            <h2 class="profile-title">Profile</h2>
            <div>
            <%= link_to root_path do%>
              <span class="save-btn">Top</span>
            <% end %>
            <%= link_to edit_user_path(@user) do %> 
              <span class="save-btn">Edit</span>
            <% end  %>
            </div>
          </div>
          <div class="profile-text">
            <% if @user.profile.present? && @user.profile != nil && @user.profile !=""  %>
            <%= safe_join(@user.profile.split("\n"),tag(:br)) %>
            <% else %>
            <p>自己紹介</p>
            <% end %>
          </div>
        </div>    
        <div class="right-my-low">
          <div class="my-photo">
            <div class="my-photo-title">My Posts List</div>
            
          <ul class = "photo-li">
            <span class = "list-json"></span>
            <% @tweets.each do |tweet| %>
            <li class="photo-up">
              <div class="photo-img">
              <%=image_tag tweet.image, class: 'tweet-photos' %>
              </div>
              <%= link_to tweet_path(tweet.id) do %>
                <span><%= tweet.title%></span>
              <% end %>
            <% end %>
            </li> 
          </ul> 
          
        <%= paginate @tweets %>
          </div>
        </div>
    </section>
  </div>
</div>