<div class="mypage">
  <div class="left-mypage">
    <div class="left-my-hight">
      <div class="my-profile-img">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar %>
          <% else %>
          <img src="/assets/IMG_9232.JPG">
        <% end %>
        
      </div>
      <div class="nickname-border">
        <p><%= @user.nickname %></p>
      </div>
    </div>
    <div class="left-my-low">
    <ul>
      <div class="li-border">
      <%# プロフィール編集 %>
      <%= link_to edit_user_path(@user)  do%>
        <li class="profile-btn">Profile</li>
      <% end %>

        <li class="calendar-btn">Calendar</li>
      
      <%= link_to weights_path do %>
        <li class="graph-btn">Graph</li>
      <% end %>
      </div>
    </ul>
    </div>
  </div>
  <div class="right-mypage">
    <div class="graph-all">

      <div class="graph-top">
        <div class="weight-field">
          <%= form_with model: @weight,url: weights_path, method: "POST", remote: true do |f| %>
            <%= f.number_field :weight_body, step: "0.1" ,class: "weight-write" %>
            <%= f.submit '体重を登録', class:'input_submit' %>
          <% end %>
        </div>

        <div class="today-weight">
          本日の平均体重は<%= @today_weight %> kg
        </div>
      </div>

      <div class="weight-graph">
        <%# 体重グラフ %>
        <%= area_chart Weight.group_by_day(:created_at, range: 1.weeks.ago.midnight..Time.now).average(:weight_body),
        width: "96%", height: "100%",
        xtitle: "Date",ytitle: "Weights",
        decimal: ".",
        suffix: "kg",
        loading: "データを読み込んでいます...",
        empty: "データが存在しません",
        round: 2,
        messages: {empty: "入力をお願いします"}
        
        %>
        <%# ここまで %>
      </div>

      <div>
        <%= @weight.weight_body %>
      </div>
    </div>
  </div>
</div>